<!DOCTYPE html>
<html>
  <head>
    <title>MyTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render  "navigation" %>
    <hr>
    <p class="notice green"><%= notice %></p>
    <p class="alert red"><%= alert %></p>
    <%= yield %>
  </body>
</html>
